<h1>餐廳後台</h1>
<div>
  <a href="./restaurants">Restaurants</a><span> | </span>
  <a href="./users">Users</a>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.name}}</td>
        {{#if isAdmin}}
          <td>admin</td>
          <form action="/admin/users/{{this.id}}?_method=PUT" method="POST">
            <td><button class="btn btn-link p-0" type="submit" href="{{this.id}}?_method=PUT"
                {{#ifEquals this.name "root"}}disabled{{/ifEquals}}>set as user</button></td>
          </form>
        {{else}}
          <td>user</td>
          <form action="/admin/users/{{this.id}}?_method=PUT" method="POST">
            <td><button class="btn btn-link p-0" type="submit" href="{{this.id}}?_method=PUT">set as admin</button></td>
          </form>
        {{/if}}
      </tr>
    {{/each}}
  </tbody>
</table>